{% extends "includes/layout.html" %}

{% block body_content %}
    <h3>Dashboard</h3>
    <small>Welcome, {{session["username"]}}</small>
    <br>
    <a href="/addpw" class="btn btn-danger">Add New Password</a>
    <hr>
    
    {% if password_list %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Registration Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Platform</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for pw in password_list %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{pw.registration_mail}}</td>
                        <td>{{pw.platform_username}}</td>
                        <td>{{pw_symbol}}</td>
                        <td>{{pw.platform}}</td>
                        <td><a href="" class="btn btn-primary">Show Password</a></td>
                        <td><a href="" class="btn btn-warning">Edit</a></td>
                        <td><a href="/deletepw/{{pw.id}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% endif %}

{% endblock body_content %}