{% extends "includes/layout.html" %}

{% block body_content %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST">
        <div class="form-group">
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            <button type="submit" class="btn btn-success form-control">LOGIN</button>
            <hr>
            <a href="/register" class="btn btn-warning form-control">REGISTER</a>
        </div>
    </form>

{% endblock body_content %}