{% extends "includes/layout.html" %}

{% block body_content %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST">
        <div class="form-group">
            {{ render_field(form.name, class="form-control") }}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.secret_key, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.re_password, class="form-control") }}
            <hr>
            <button type="submit" class="btn btn-warning form-control">REGISTER</button>
        </div>
    </form>

{% endblock body_content %}